/* modificaciones Generales*/
/* Se modifica el margin del footer en esta página*/
.footer-home {
  margin-top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======= Estilos slaider infinito - publicidad home =======*/
.slider-box {
  margin: 0;
  justify-content: center;
  align-items: center;
  background: #2f353a;
}

.slider {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider .move {
  display: flex;
  width: calc(100% * 1);
  animation: slide 30s linear infinite;
}

.slider .box {
  flex: 0 0 auto;
  width: 14.285%; /* Ancho personalizable- Dividir (7 → 14.285) (3.5 → 28.57) (2.5 → 42.285) */
  height: auto;
}

.slider .box img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

/* ======== Estilos  Sección Categorías ======== */
.heading-1 {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: var(--color-primary);
  text-align: center;
  overflow: hidden;
  margin-bottom: 3rem;
}

.top-categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container-categories {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.card-category {
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.category-lacteos {
  background-image: linear-gradient(#00000080, #00000080),
    url("/imagenes/products/yogur_natural.jpg");
}

.category-hortalizas {
  background-image: linear-gradient(#00000080, #00000080),
    url("/imagenes/products/Calabacion.jpg");
}

.category-carnes {
  background-image: linear-gradient(#00000080, #00000080),
    url("/imagenes/products/carnes.jpeg");
}

.category-frutas {
  background-image: linear-gradient(#00000080, #00000080),
    url("/imagenes/products/frutas.jpg");
}

.category-granos {
  background-image: linear-gradient(#00000080, #00000050),
    url("/imagenes/products/granos.jpg");
}

.category-conservas {
  background-image: linear-gradient(#00000080, #00000080),
    url("/imagenes/products/Helado_artesanal.jpg");
}

.card-category p {
  font-size: 1.8rem;
  color: var(--color-text);
  text-transform: capitalize;
  position: relative;
}

.card-category p::after {
  content: "";
  width: 2.5rem;
  height: 2px;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  background-color: var(--color-text);
  transform: translate(-50%, 50%);
}

.card-category span {
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.card-category a {
  text-decoration: none;
}

.card-category span:hover {
  color: var(--color-accent);
}

/* ======= Estilos carousel destacados página home ======= */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  border: none;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  border: none;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* ======================== */


/* =========  publicaciones ========== */



/* === Sección Nuestra huella === */
.huella-img {
  width: 85%;
  max-width: 500px;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 2rem auto 3rem auto;
}

.specials {
  display: flex;
}

/* === Sección destacados === */
.destacado-img {
  width: 75%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 3rem auto;
}

/*========= Inicia Estilos Sección Blogs ===========*/
.blogs {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin-top: 3rem;
}

.container-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card-blog {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-blog .container-imgb {
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card-blog .container-imgb img {
  width: 100%;
}

.button-group-blog {
  position: absolute;
  bottom: 1.5rem;
  right: -2.5rem;
  display: flex;
  gap: 0.7rem;
  z-index: -1;
  transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
  z-index: 0;
  right: 1.5rem;
}

.button-group-blog span {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group-blog span i {
  font-size: 0.8rem;
}

.button-group-blog span:hover {
  background-color: var(--color-accent);
  opacity: 80%;
}

.button-group-blog span:hover i {
  color: #fff;
}

.content-blog h3 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  color: var(--color-primary);
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.content-blog h3:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.content-blog p {
  margin-top: 0.7rem;
  font-size: 1rem;
  color: #555;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.content-blog span {
  color: var(--color-accent);
  font-size: 1rem;
  overflow: hidden;
}

.btn-read-more {
  padding: 0.6rem 1.8rem;
  background-color: var(--color-primary);
  opacity: 90%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 2rem;
  margin: 0.7rem 0 5rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  border: none;
}

.btn-read-more:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

/* ======= Estilo modal imagen blog ===== */

.image-modal-blog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.image-modal-content {
  max-width: 30%;
  max-height: 50%;
}

.image-modal-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
/*========= Termina  Sección Blogs ===========*/



/* ========= Estilos Para Modal e iconos lateralesGenerales ========= */
.sticky-icons, .middle-icons {
  position: fixed;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.sticky-icons {
  top: 30%;
  max-height: 70vh;
 }


.middle-icons {
  top: 50%;
  transform: translateY(-50%);

}


.sticky-icon:hover, .sticky-icons div:hover {
  transform: scale(1.1);
}


#whatsappIcon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  }

  #emailIcon {
    background-color: white;
    width: 65px;
    height: 65px;
    text-align: center;
    border-radius: 50%;
  }
#whatsappIcon {
  background: var(--color-secondary);
  margin-top: 200px;

}

#whatsappIcon i {
  font-size: 2rem;
  color: #fff;
  align-self: center;
  margin-top: 8px;

}

#emailIcon i {
  font-size: 3rem;
  color: var(--color-primary);
  margin-top: 3px;
  font-weight: 500;
}

.sticky {
  position: fixed;
  width: 250px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
}


#offerIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background: rgba(255, 215, 0, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
color: var(--color-primary);
  cursor: pointer;
  text-align: center;
  animation: offerBlink 4s infinite ease-in-out;
  transition: all 0.3s ease-in-out;

}

#offerIcon span {
  animation: hideText 10s infinite;
  color: var(--color-primary);
  font-size: 0.8rem;
 }

#stickyContainer {
  position: fixed;
  bottom: 20%;
  right: 10px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--color-accent);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
}




/*=== Movimiento infinito carousel publicidad ===*/

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* ======== animaciones blog  =========*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ==== icono oferta cerrado  ===  */
@keyframes offerBlink {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

@keyframes hideText {
  0%, 60% { opacity: 1; }
  61%, 100% { opacity: 0; }
}



/* ======= Responsive  → MEDIA QUERIES   ======= */

@media (max-width: 768px) {
  .card-blog .content-blog p {
    font-size: 90%;
  }
  .heading-1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .card-category p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 0.7;
  }

  .card-category span {
    font-size: 1.4rem;
  }

  .container-blogs {
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .hidde-blog-3 {
    display: none;
  }

/*=== lateral publicidad ===*/
  .sticky {
    width: 80px;
    height: 80px;
    padding: 5px;
    text-align: center;
  }

  .hidden-sticky {
    display: none;
  }

  #offerIcon,  #whatsappIcon,  #emailIcon  {
    width: 50px;
    height: 50px;
    font-size: 12px;
    margin-bottom: 20px;
  }
 
 
  #whatsappIcon i {
    font-size: 1.7rem;
  }

  #emailIcon i {
    font-size: 2.5rem;
    
  } 
}

/*=========  Mobile ==========*/
@media (max-width: 468px) {
  .carousel-button {
    width: 27px;
    height: 27px;
  }

  .heading-1 {
    font-size: 1.7rem;
  }

  .container-categories {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .card-category {
    height: 6rem;
  }

  .card-category p {
    font-size: 1rem;
  }

  .card-category span {
    font-size: 1rem;
  }

  .card-blog .container-imgb,
  .content-blog {
    width: 80%;
    height: 80%;
    align-self: center;
  }
  .content-blog h3 {
    font-size: 1rem;
  }

  .container-blogs {
    overflow: hidden;
    grid-template-columns: 1fr;
    gap: 6rem;
  }
  .hidde-blog-2,
  .hidde-blog-3 {
    display: none;
  }

  .content-blog span {
    font-size: 1.3rem;
  }

  .content-blog p {
    font-size: 1.2rem;
  }
  .btn-read-more {
    padding: 0.9rem 1.9rem;
    font-size: 0.7rem;
  }

  /*--- iconos laterales b---*/
  #offerIcon,  #whatsappIcon,  #emailIcon  {
    width: 45px;
    height: 45px;
    right: 10px;
     }
  
 
  #whatsappIcon i {
    font-size: 1.5rem;
    
  }

  #emailIcon i {
    font-size: 2rem;
    margin-top: 3px;
    
  } 
  #offerIcon span {
    font-size: 0.5rem;
   }

   .sticky-icons, .middle-icons {
        right: 10px;
     }
  
}

